/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body{
  height: 100%;
  margin: 0;
  color: white;
  text-align:center;
  background-image: url('https://www.muralsyourway.com/media/catalog/product/cache/1/base/1200x/040ec09b1e35df139433887a97daa66f/r/f/rf9967533_illustration_of_a_starry_sky_night_scene_copy.jpg');
  }

  main {
  width:100%;
  min-height:calc(100% - 100px);
  background-size: cover;
  background-attachment:fixed;
  }

  .home-page {
   height: 100%; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }

  .home-page-container {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   background-color: black;
   color: white; 
   padding: 20px;
   border-radius: 10%; 
 }


 .about-container{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   background-color: black;
   color: white; 
   padding: 20px;
   border-radius: 10%; 
 }

 .wrapper{
  position:absolute;
  top:0;
  right:0;
  margin: 10px;
 }


 /*board CSS */
 .field {
   width: 3rem; 
   height: 3rem; 
   font-size: 2rem; 
   text-align: center;
   color:#BBB
 }

 .field[readonly]{
   color: #222222
 }

 .sudoku-board{
   text-align: center;
   margin: 20px;
   transition: transform 300ms ease-in-out;
 }

 .game{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .return-home{
   margin: 10px; 
 }